.nav-main {
  background-color: #1a1a1a;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.nav-head {
  font-weight: 600;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}
.nav-head:hover {
  color: #cecbcb;
}
